{{#if EnableCensusBanner}}
<div class="promo__background--plum-gradient">
    <div class="wrapper">
        <div class="banner--half-padding">
            <p class="margin-top--0 margin-bottom--0 padding-bottom--0 padding-top--0 flex flex-wrap-wrap banner--vertical-center">
                {{{labels.census-banner-logo}}}
                {{{labels.census-banner-text}}}
            </p>
        </div>
    </div>
</div>
{{/if}}