<div class=" js-hover-click height--31-indented-ellipsis background--mercury print--hide">
    <div class="box__image padding-top--16 padding-right--1 padding-left--1">
        <h3 class="flush padding-bottom--1"><a href="/visualisations/areas">{{labels.get-facts-and-figures-for-an-area}}<span
            class="image-holder height--14"><img src="/img/t1-local.png" alt="" class="no-border"></span></a></h3>
        <p class="box__content flush">{{labels.area-figures-includes}}.</p>
    </div>
</div>